/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Fondo gris claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

/* Estilos para productos */
.producto {
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.producto img {
    max-width: 100%;
    height: auto;
}

.precio {
    color: #ff6b00; /* Naranja */
    font-weight: bold;
}

/* Estilos para el carrito */
#carrito {
    background-color: #333; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    display: none;
}

#carrito h2 {
    text-align: center;
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#lista-carrito li {
    margin-bottom: 10px;
}

#total {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

#vaciar-carrito {
    background-color: #ff6b00; /* Naranja */
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#vaciar-carrito:hover {
    background-color: #ff9900; /* Naranja más claro */
}

/* Estilos para el footer */
footer {
    background-color: #333; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 10px;
}

img.redimension {
  width: 100px;
  height: 70px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
  
  .modal-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
  }
  
  .cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }